@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

a:hover {
  color: #ff0000
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for fonts  */

.dark-text {
  font-weight: bold;
}

.green-color {
  color: #8EB53E;
}

/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 88%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper {
  width: 57.2%;
  padding: 30px 0 20px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.hamburger,
.cross {
  display: none;
  text-indent: -9999px; 
}
.hamburger::before,
.cross::before {
  content: "\f0c9";
  float: right;
  color: #000;
  font-family: "fontAwesome";
  text-indent: 0;
}
.cross::before {
  content: "\f00d";
}


.menus {
  margin-left: auto;
  flex-basis: 47.7%;
}

.menus ul {
  display: flex;
  justify-content: space-between;
}

.menus ul li a {
  color: #000;
  font-size: 11px;
}

.menus ul li a:hover {
  color: #ff0000;
}

.pull-me {
  position: absolute;
  right: 0;
  top: -7px;
  font-size: 9px;
}

.pull-me::after {
  content: "\f02e";
  margin-left: 8px;
  font-family: "fontAwesome";
  font-size: 19px;
  color: #A0C63F;
  cursor: pointer;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* slider section start  */

.slider {
  padding: 30px 0;
  background-color: #A0C63F;
}

.slider .wrapper {
  width: 85.3%;
}

.slider figure {
  width: 534px;
  margin-left: 13.9%;
}

.slider h2 {
  position: absolute;
}

.slider h2 {
  width: 30%;
  top: 12.5%;
  left: 53.5%;
  color: #fff;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
}

.slider-list-item {
  position: relative;
}

.slick-next, .slick-prev {
  top: 43%;
}


.slick-prev::before,.slick-next::before {
  font-size: 58px;
}

.slider-list-item {
  width: 1257px;
  margin-left: 39px;
}

.slick-next {
  right: 17px;
}

/* slider section end  */

/* business theme section start  */

.business-theme .wrapper {
  width: 61.8%;
  padding: 30px 0;
}

.business-theme .wrapper h2 {
  font-size: 28px;
  text-align: center;
}

.website-icons {
  margin-top: 29px;
  justify-content: space-between;
  text-align: center;
  border-top: 1px dotted #CCCCCC;
  display: flex;
}

.elegantica-icon {
  padding-top: 212px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
}

.website-icons span {
  display: block;
  text-align: center;
  letter-spacing: 1px;
}
.elegantica-icon .icon {
  padding: 29px 23px;
  position: absolute;
  bottom: 62px;
  background-color: #8EB540;
  border-radius: 100%;
  border: 17px solid#fff;
  outline: 1px solid #C3C3C3;
  text-indent: -9999px;
}

.elegantica-icon .icon::before {
  content: "\f260";
  float: right;
  display: block;
  color: #fff;
  font-family: "fontAwesome";
  font-size: 69px;
  text-indent: 0;
}

.elegantica-icon:nth-child(2) .icon::before {
  content: "\f095";
  padding: 0 14px;
}

.elegantica-icon:nth-child(3) .icon::before {
  content: "\f013";
  padding: 0 11px;
}

.elegantica-icon:nth-child(4) .icon::before {
  content: "\f10b";
  padding: 0 25px;
}

.icon-big-font {
  font-size: 26px;
}

.icon-small-font {
  margin-top: 2px;
  font-size: 15px;
}

/* business theme section end  */
/* recent from portfolio section start  */

.recent-from-portfolio {
  background-color: #FCFCFC;
}

.recent-from-portfolio .wrapper {
  width: 57.2%;
  padding: 15px 0;
}

.recent-from-portfolio h2{
  margin-left: 31px;
  font-size: 22px;
}

.portfolio {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 12px;
}

.portfolio-content {
  display: flex;
  flex-basis: 48.4%;
}

.portfolio-content figure {
  width: 232px;
  height: 135px;
}

.portfolio-info {
  padding: 13px 15px;
  flex-basis: 49%;
}

.portfolio-info h3 {
  margin-bottom: 4px;
  font-size: 14px;
}

.portfolio-info a {
  padding: 2px 11px;
  background-color: #90B045;
  color: #fff;
  font-size: 11px;
}

.portfolio-info a:hover {
  color: #ff0000;
}

.portfolio-info p {
  margin-top: 10px;
  font-size: 11px;
  line-height: 18px;
}

/* recent from portfolio section end  */

/* adverstisers and contact section start  */

.advertisers-and-contact .wrapper {
  width: 57.2%;
  padding: 16px 0 0 0;
}

.our-major-advertisers h2 {
  margin-left: 31px;
  font-size: 23px;
}

.advertisers {
  margin-top: 32px;
  display: flex;
}

.advertisers figure{
  width: 147px;
  height: 118px;
}

.move-up {
  padding: 8px 13px;
  margin: 5.5% 0 0 95.8%;
  text-indent: -9999px;
  border-radius: 100%;
  display: inline-block;
  background-color: #90B045;
  color: #fff;
}

.move-up::before {
  content: "\f106";
  float: right;
  font-family: "fontAwesome";
  text-indent: 0;
  cursor: pointer;
}

.about-contact {
  padding: 50px 0 18px 0;
  display: flex;
  justify-content: space-between;
}

.about-contact > div {
  flex-basis: 22.5%;
}

.about-us p {
  margin: 15px 0 17px 0;
  font-size: 11px;
  line-height: 18px;
}

.about-us ul {
  width: 82%;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.about-us ul li a {
  font-size: 18px;
  text-indent: -9999px;
}

.about-us ul li a:hover {
  color: #ff0000;
}


.about-us ul li a::before {
  content: "\f09a";
  float: right;
  color: #DCDCDC;
  font-family: "fontAwesome";
  text-indent: 0;
}

.about-us ul li a:hover:before {
  color: red;
}

.about-us ul li:nth-child(2) a:before {
  content: "\f099";
}

.about-us ul li:nth-child(3) a:before {
  content: "\f09e";
}

.about-us ul li:nth-child(4) a:before {
  content: "\f27d";
}

.about-us ul li:nth-child(5) a:before {
  content: "\f17d";
}

.about-us ul li:nth-child(6) a:before {
  content: "\f1a6";
}

.archieves {
  padding-left: 17px;
}

.contact-us {
  padding-left: 17px;
}

.archieves ul,.contact-us ul {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}

.archieves ul {
  padding-right: 12px;
}

.archieves ul li {
  padding: 7px 0 9px 0;
  border-bottom: 1px dotted #000;
}

.archieves ul li a:hover {
  color: #ff0000;
}

.archieves ul li:nth-child(1) {
  padding-top: 6px;
}

.archieves ul li a ,.contact-us ul li a{
  color: #000;
  font-size: 11px;
}

.contact-us ul li a {
  display: flex;
  align-items: center;
}

.contact-us ul li a:hover {
  color: #ff0000;
}

.archieves ul li:last-child  {
  border: none;
}

.contact-us ul li {
  padding: 10px 0 5px 0;
}

.contact-us ul li:nth-child(2) {
  padding-bottom: 3px;
}

.contact-us ul li a::before {
  content: "\f003";
  margin-right: 10px;
  color: #ACACAC;
  font-size: 23px;
  font-family: "fontAwesome";
}

.contact-us ul li:nth-child(2) a:before {
  content: "\f095";
  margin-right: 15px;
}

.contact-us ul li:nth-child(3) a:before {
  content: "\f10b";
  margin-right: 15px;
  font-size: 34px;
}

.sign-to-newsletter form {
  margin-top: 20px;
}

input[type="text"],input[type="email"] {
  width: 100%;
  padding: 10px 0 10px 15px;
  margin-bottom: 9px;
  border: none;
  border-bottom: 1px solid #ACACAC;
  background-color: #FAFAFA;
  font-size: 11px;
  font-style: italic;
}

input[type="submit"] {
  padding: 10px 12px;
  margin-left: 54%;
  margin-top: 9px;
  border: 2px solid #90B045;
  background-color: #90B045;
  color: #CCCCCC;
  font-size: 11px;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #90B045;
}

/* adverstisers and contact section end   */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 3px 0;
  background-color: #000;
  color: #fff;
}

footer .wrapper {
  width: 57.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul {
  display: flex;
  flex-basis: 26.6%;
  justify-content: space-between;
}

footer ul li a {
  color: #fff;
  font-size: 10px;
  opacity: 0.8;
  letter-spacing: 1px;
}

footer ul li a:hover {
  color: #ff0000;
}

.copyrights {
  flex-basis: 14.2%;
  font-size: 9px;
  white-space: nowrap;
}

.copyright-symbol {
  opacity: 0.8;
}


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for 1440px starts here*/
@media only screen and (max-width: 1440px){

  .website-icons {
    flex-wrap: wrap;
  }

  .elegantica-icon .icon {
    margin-bottom: 20px;
  }

  footer ul {
    flex-basis: 40%;
  }

  .about-us ul {
    width: 100%;
  }

  .about-us p {
    margin-top: 34px;
  }

  .sign-to-newsletter h3 {
    white-space: nowrap;
  }

  .about-contact > div:nth-child(2) h3,.about-contact > div:nth-child(3) h3 {
    margin-bottom: 25px;
  }
}
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px){

  .website-icons {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 10px;
  }
  
  .elegantica-icon {
    flex-basis: 40%;
  }
}


/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

.slider h2 {
  width: 50%;
  left: 30%;
  font-size: 21px;
 }

.slider figure {
  margin-left: 0;
}

.left-button,.right-button {
  border-width: 2px;
}

.left-button::before,.right-button::before {
  font-size: 15px;
}

header .wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

header .wrapper {
  width: 80%;
}

.menus {
  padding: 10px 0;
  width: 100%;
  margin: 0;
}

.menus ul li {
  text-align: center;
}

.advertisers,.about-contact {
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 10px;
}


.about-contact > div {
  flex-basis: 100%;
}


.portfolio-content {
  flex-basis: 100%;
}

.elegantica-icon {
  flex-basis: 40%;
}

footer ul {
  flex-basis: 50%;
}


}

@media only screen and (max-width: 768px){

  .slider h2 {
    font-size: 15px;
   }

  .menus {
    display: none;
    background-color: #8EB53E;
  }

  .menus ul {
    flex-direction: column;
    row-gap: 20px;
  }

  .hamburger {
    align-self: flex-start;
    display: block;
  }

  .elegantica-icon {
    flex-basis: 100%;
  }

  footer .wrapper ul {
    width: 100%;  
  }
  
  .copyrights {
    font-size: 7px;
  }

  footer .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .slider figure {
    width: auto;
  }

  .portfolio {
    justify-content: center;
  }

}

