@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 87.1%;
  margin: 0 auto; }

header .wrapper {
  width: 57.2%;
  padding: 30px 0 20px 0;
  position: relative;
  display: flex;
  justify-content: normal;
  align-items: center; }
  .hamburger, .cross {
    display: none;
    text-indent: -9999px; }
    .hamburger::before, .cross::before {
      content: "";
      float: right;
      font-family: "fontAwesome";
      font-size: 16px;
      text-indent: 0;
      color: #000; }
    @media screen and (max-width: 768px) {
      .hamburger, .cross {
        display: block;
        align-self: flex-start; } }
  .cross::before {
    content: "\f00d"; }
  .menus {
    margin-left: auto;
    flex-basis: 47.7%; }
    .menus ul {
      display: flex;
      justify-content: space-between;
      align-items: normal; }
      .menus ul li a {
        color: #000;
        font-size: 11px; }
        .menus ul li a:hover {
          color: #ff0000; }
      @media screen and (max-width: 995px) {
        .menus ul li {
          text-align: center; } }
      @media screen and (max-width: 768px) {
        .menus ul {
          flex-direction: column;
          row-gap: 20px; } }
    @media screen and (max-width: 995px) {
      .menus {
        width: 100%;
        padding: 10px 0;
        margin-left: 0; } }
    @media screen and (max-width: 768px) {
      .menus {
        display: none;
        background-color: #8EB53E; } }
  .pull-me {
    position: absolute;
    right: 0;
    top: -7px;
    font-size: 9px; }
    .pull-me::after {
      content: "";
      font-family: "fontAwesome";
      font-size: 19px;
      margin-left: 8px;
      color: #A0C63F;
      cursor: pointer; }
  @media screen and (max-width: 995px) {
    header .wrapper {
      width: 80%; } }

.slider {
  padding: 30px 0;
  background-color: #A0C63F; }
  .slider .wrapper {
    width: 85.3%; }
  .slider figure {
    width: 534px;
    margin-left: 13.9%; }
    @media screen and (max-width: 995px) {
      .slider figure {
        margin-left: 0; } }
    @media screen and (max-width: 768px) {
      .slider figure {
        width: auto; } }
  .slider h2 {
    position: absolute; }
  .slider h2 {
    width: 30%;
    top: 12.5%;
    left: 53.5%;
    color: #fff;
    font-size: 27px;
    line-height: 37px;
    text-align: center; }
    @media screen and (max-width: 995px) {
      .slider h2 {
        width: 50%;
        left: 30%;
        font-size: 21px; } }
    @media screen and (max-width: 768px) {
      .slider h2 {
        font-size: 15px; } }
  .slider__slider-list-item {
    width: 1257px;
    margin-left: 39px;
    position: relative; }
  .slick-prev::before, .slick-next::before {
    font-size: 58px; }
  .slick-next {
    right: 17px; }

.business-theme .wrapper {
  width: 61.8%;
  padding: 30px 0; }
  .business-theme .wrapper h2 {
    font-size: 28px;
    text-align: center; }

.business-theme__website-icons {
  margin-top: 29px;
  border-top: 1px dotted #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  text-align: center; }
  .business-theme__website-icons__elegantica-icon {
    padding-top: 212px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 25%; }
    .business-theme__website-icons__elegantica-icon .icon {
      padding: 29px 23px;
      position: absolute;
      bottom: 62px;
      background-color: #8EB540;
      border-radius: 100%;
      border: 17px solid #fff;
      outline: 1px solid #C3C3C3;
      text-indent: -9999px; }
      .business-theme__website-icons__elegantica-icon .icon::before {
        content: "";
        float: right;
        font-family: "fontAwesome";
        font-size: 69px;
        text-indent: 0;
        display: block;
        color: #fff; }
      @media screen and (max-width: 1440px) {
        .business-theme__website-icons__elegantica-icon .icon {
          margin-bottom: 20px; } }
    .business-theme__website-icons__elegantica-icon :nth-child(2) .icon::before {
      content: "\f095";
      padding: 0 14px; }
    .business-theme__website-icons__elegantica-icon :nth-child(3) .icon::before {
      content: "\f013";
      padding: 0 11px; }
    .business-theme__website-icons__elegantica-icon :nth-child(4) .icon::before {
      content: "\f10b";
      padding: 0 25px; }
    .business-theme__website-icons__elegantica-icon .icon-big-font {
      font-size: 26px; }
    .business-theme__website-icons__elegantica-icon .icon-small-font {
      margin-top: 2px;
      font-size: 15px; }
    @media screen and (max-width: 1024px) {
      .business-theme__website-icons__elegantica-icon {
        flex-basis: 40%; } }
    @media screen and (max-width: 768px) {
      .business-theme__website-icons__elegantica-icon {
        flex-basis: 100%; } }
  .business-theme__website-icons span {
    display: block;
    text-align: center;
    letter-spacing: 1px; }
  @media screen and (max-width: 1440px) {
    .business-theme__website-icons {
      flex-wrap: wrap; } }
  @media screen and (max-width: 1024px) {
    .business-theme__website-icons {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
      column-gap: 10px; } }
